.catbloc:not(:target) {
    display: none;
}
.catbloc:target {
    animation: slidedown .5s 1;
    -webkit-animation: slidedown .5s 1;
}
@keyframes slidedown {
    from {
        opacity: 0;
        transform: translate(0, -50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@-webkit-keyframes slidedown {
    from {
        opacity: 0;
        -webkit-transform: translate(0, -50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
    }
}
